body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding:0px;
  overflow: hidden;
  
}

.height-100{
  height: 100%;
}

.height-20{
  height: 20%;
}

.height-80{
  height: 80%;
}

.vertical-scroll {
  position: relative;
  overflow-y: auto;
  height: 100vh;
}

.div-center {
  text-align: center;
}