
.height-100{
    height: 100%;
}

.height-20{
    height: 20%;
}

.height-80{
    height: 80%;
}

.contentlist{
padding-top: 5px;
    
}

.infoBackground{
    background-color: darkgrey;
}

.ajustementsForButtonAddContent{
    padding-left: 1px;
    padding-bottom: 1px;
}